<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="digital.lamp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /><!-- needed for Android 28 P -->

    <!-- Support for Sync Adapters -->
<!--    <uses-permission android:name="android.permission.READ_SYNC_STATS" />-->
<!--    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />-->
<!--    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />-->
<!--    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />-->
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->

    <!-- Permissions to safeguard data collection quality -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Required to access activity recognition. -->
    <!-- Required for 28 and below. -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!-- Required for 29+. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:usesCleartextTraffic="true">

        <!-- Sensor services -->
        <service
            android:name=".Lamp"
            android:exported="true" />

        <service
            android:name=".Locations"
            android:exported="true" />
        <service
            android:name=".Screen"
            android:exported="true" />
        <service
            android:name=".Accelerometer"
            android:exported="true" />
        <service
            android:name=".ActivityTransitions"
            android:exported="true" />
        <service
            android:name=".Gyroscope"
            android:exported="true" />
        <service
            android:name=".WiFi"
            android:exported="true" />
        <service
            android:name=".WiFi$BackgroundService"
            android:exported="true" />
        <service
            android:name=".Rotation"
            android:exported="true" />
        <service
            android:name=".Light"
            android:exported="true" />
        <service
            android:name=".Magnetometer"
            android:exported="true" />
        <service
            android:name=".Barometer"
            android:exported="true" />
        <service
            android:name=".LinearAccelerometer"
            android:exported="true" />
    </application>
</manifest>